.user-actions {
  display: grid;
  gap: var(--space-2);
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-action__control {
  width: 100%;
  height: 100%;  
  gap: var(--space-2);
}

@media (min-width: 44rem) {
  .user-actions {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    align-items: stretch; 
  }
  .user-action__control {
    white-space: nowrap;
  }

}
